# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

/__astcache/*
/__history/*
/__recovery/*
/Win32/*
/AESCrypt/*
/AESCryptTest/*
/build/*
*.odt
*.docx
*.doc
*.local
*.res
*.stat
*.~*

# Executables
*.out
*.app
/MessageConsole/techconsole.layout
/MessageConsole/bin
/MessageConsole/obj
/MessageConsole/techconsole.depend
/TechConsole/TechConsolePCH1.h
/TechConsole/__astcache
/TechConsole/Win32
/TechConsole/TechConsole.cbproj.local
/TechConsole/TechConsole.res
